* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/Roboto-Regular.ttf);
}


:root {
    --bg-color: #fffdde;
    --main-color: #03001c;
    --caret-color: #367e18;
    --sub-color: #1c82adc4;
    --sub-alt-color: #c6dce4;
    --text-color: #13005a;
    --error-color: #f900bf;
    --error-extra-color: #ce1212;
    --colorful-error-color: #ce1212;
    --colorful-error-extra-color: #3ec70b;
}

body {
    font-family: "Roboto Mono", Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.nav h1 {
    margin-right: auto;
}

.nav div {
    background-color: var(--sub-alt-color);
    color: var(--text-color);
    font-weight: bold;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.nav div:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.nav div:active {
    background-color: var(--sub-color);
    color: var(--bg-color);
}

.nav .active {
    background-color: var(--main-color);
    color: var(--bg-color);
}

a {
    text-decoration: none;
}

.home {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home > h2 {
    font-size: 28px;
}

.deals {
    border: 10px solid var(--sub-color);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 800px;
    height: 600px;
}

.deal {
    border: 5px solid var(--sub-color);
    width: 260px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.deal img {
    height: 150px;
    width: auto;
}

.prices {
    display: flex;
    justify-content: space-around;
}

.prices > h3:first-child {
    text-decoration: line-through;
}